USE [master]
GO
/****** Объект:  Database [VideoHostingDB]    Дата создания скрипта: 04.09.2026 9:07:20 ******/ 
CREATE DATABASE [VideoHostingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideoHostingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VideoHostingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VideoHostingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VideoHostingDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoHostingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoHostingDB]
GO
/****** Объект:  Table [dbo].[Договор]    Дата создания скрипта: 04.09.2026 9:07:21 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Договор](
	[номер_договора] [nvarchar](13) NOT NULL,
	[дата_заключения] [date] NOT NULL,
	[тип_лицензии] [nvarchar](30) NOT NULL,
	[территория_действия] [nvarchar](200) NOT NULL,
	[путь_к_скану] [nvarchar](500) NOT NULL,
	[ID_правообладателя] [int] NOT NULL,
 CONSTRAINT [PK_Договор] PRIMARY KEY CLUSTERED 
(
	[номер_договора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Жанр]    Дата создания скрипта: 04.09.2026 9:07:21 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Жанр](
	[ID_жанра] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_жанра] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Наименование] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Контент]    Дата создания скрипта: 04.09.2026 9:07:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Контент](
	[ID_контента] [int] IDENTITY(1,1) NOT NULL,
	[название] [nvarchar](200) NOT NULL,
	[оригинальное_название] [nvarchar](200) NULL,
	[год_выпуска] [smallint] NOT NULL,
	[страна_производства] [nvarchar](63) NOT NULL,
	[режиссёр] [nvarchar](200) NOT NULL,
	[краткое_описание] [nvarchar](4000) NULL,
	[возрастной_рейтинг] [nvarchar](3) NOT NULL,
	[тип_контента] [nvarchar](22) NULL,
	[длительность] [time](0) NULL,
	[дата_поступления] [date] NOT NULL,
	[постер] [varbinary](max) NULL,
 CONSTRAINT [PK_Контент] PRIMARY KEY CLUSTERED 
(
	[ID_контента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Контент_Жанр]    Дата создания скрипта: 04.09.2026 9:07:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Контент_Жанр](
	[ID_контента] [int] NOT NULL,
	[ID_жанра] [int] NOT NULL,
 CONSTRAINT [PK_Контент_Жанр] PRIMARY KEY CLUSTERED 
(
	[ID_контента] ASC,
	[ID_жанра] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Лицензия]    Дата создания скрипта: 04.09.2026 9:07:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Лицензия](
	[ID_лицензии] [int] IDENTITY(1,1) NOT NULL,
	[номер_договора] [nvarchar](13) NOT NULL,
	[ID_контента] [int] NOT NULL,
	[дата_начала] [date] NOT NULL,
	[дата_окончания] [date] NOT NULL,
	[статус] [bit] NOT NULL,
	[дата_добавления] [date] NOT NULL,
 CONSTRAINT [PK_Лицензия] PRIMARY KEY CLUSTERED 
(
	[ID_лицензии] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Медиа_файл]    Дата создания скрипта: 04.09.2026 9:07:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Медиа_файл](
	[ID_файла] [int] IDENTITY(1,1) NOT NULL,
	[ID_контента] [int] NOT NULL,
	[тип_файла] [nvarchar](5) NOT NULL,
	[качество] [nvarchar](50) NOT NULL,
	[путь] [nvarchar](500) NOT NULL,
	[размер] [int] NOT NULL,
	[язык] [nvarchar](50) NULL,
 CONSTRAINT [PK_Медиа_файл] PRIMARY KEY CLUSTERED 
(
	[ID_файла] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Правообладатель]    Дата создания скрипта: 04.09.2026 9:07:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Правообладатель](
	[ID_правообладателя] [int] IDENTITY(1,1) NOT NULL,
	[наименование] [nvarchar](200) NOT NULL,
	[страна_регистрации] [nvarchar](63) NOT NULL,
	[контактное_лицо] [nvarchar](200) NULL,
	[телефон] [nvarchar](20) NULL,
	[email] [nvarchar](320) NULL,
 CONSTRAINT [PK_Правообладатель] PRIMARY KEY CLUSTERED 
(
	[ID_правообладателя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Лицензия] ADD  CONSTRAINT [DF_Лицензия_дата_добавления]  DEFAULT (getdate()) FOR [дата_добавления]
GO
ALTER TABLE [dbo].[Договор]  WITH CHECK ADD  CONSTRAINT [FK_Договор_Правообладатель] FOREIGN KEY([ID_правообладателя])
REFERENCES [dbo].[Правообладатель] ([ID_правообладателя])
GO
ALTER TABLE [dbo].[Договор] CHECK CONSTRAINT [FK_Договор_Правообладатель]
GO
ALTER TABLE [dbo].[Контент_Жанр]  WITH CHECK ADD  CONSTRAINT [FK_Жанр_Контент_Жанр] FOREIGN KEY([ID_жанра])
REFERENCES [dbo].[Жанр] ([ID_жанра])
GO
ALTER TABLE [dbo].[Контент_Жанр] CHECK CONSTRAINT [FK_Жанр_Контент_Жанр]
GO
ALTER TABLE [dbo].[Контент_Жанр]  WITH CHECK ADD  CONSTRAINT [FK_Контент_Контент_Жанр] FOREIGN KEY([ID_контента])
REFERENCES [dbo].[Контент] ([ID_контента])
GO
ALTER TABLE [dbo].[Контент_Жанр] CHECK CONSTRAINT [FK_Контент_Контент_Жанр]
GO
ALTER TABLE [dbo].[Лицензия]  WITH CHECK ADD  CONSTRAINT [FK_Лицензия_Договор] FOREIGN KEY([номер_договора])
REFERENCES [dbo].[Договор] ([номер_договора])
GO
ALTER TABLE [dbo].[Лицензия] CHECK CONSTRAINT [FK_Лицензия_Договор]
GO
ALTER TABLE [dbo].[Лицензия]  WITH CHECK ADD  CONSTRAINT [FK_Лицензия_Контент] FOREIGN KEY([ID_контента])
REFERENCES [dbo].[Контент] ([ID_контента])
GO
ALTER TABLE [dbo].[Лицензия] CHECK CONSTRAINT [FK_Лицензия_Контент]
GO
ALTER TABLE [dbo].[Медиа_файл]  WITH CHECK ADD  CONSTRAINT [FK_Контент_Медиа_файл] FOREIGN KEY([ID_контента])
REFERENCES [dbo].[Контент] ([ID_контента])
GO
ALTER TABLE [dbo].[Медиа_файл] CHECK CONSTRAINT [FK_Контент_Медиа_файл]
GO
ALTER TABLE [dbo].[Договор]  WITH CHECK ADD  CONSTRAINT [CK_Договор_Номер] CHECK  (([номер_договора] like '[А-Я][А-Я]-[0-9][0-9][0-9][0-9]/[0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Договор] CHECK CONSTRAINT [CK_Договор_Номер]
GO
ALTER TABLE [dbo].[Договор]  WITH CHECK ADD  CONSTRAINT [CK_Договор_Путь] CHECK  (([путь_к_скану] IS NULL OR right([путь_к_скану],(4))='.pdf'))
GO
ALTER TABLE [dbo].[Договор] CHECK CONSTRAINT [CK_Договор_Путь]
GO
ALTER TABLE [dbo].[Договор]  WITH CHECK ADD  CONSTRAINT [CK_Договор_Тип_лицензии] CHECK  (([тип_лицензии]='Сублицензия' OR [тип_лицензии]='Неисключительная' OR [тип_лицензии]='Эксклюзивная' OR [тип_лицензии]='Ограниченная' OR [тип_лицензии]='Театральный прокат' OR [тип_лицензии]='ТВ' OR [тип_лицензии]='VOD' OR [тип_лицензии]='Полная' OR [тип_лицензии]='CC BY-NC-ND' OR [тип_лицензии]='CC BY-NC-SA' OR [тип_лицензии]='CC BY-NC' OR [тип_лицензии]='CC BY-ND' OR [тип_лицензии]='CC BY-SA' OR [тип_лицензии]='CC BY' OR [тип_лицензии]='CC0'))
GO
ALTER TABLE [dbo].[Договор] CHECK CONSTRAINT [CK_Договор_Тип_лицензии]
GO
ALTER TABLE [dbo].[Контент]  WITH CHECK ADD  CONSTRAINT [CK_Контент_Возрастной_рейтинг] CHECK  (([возрастной_рейтинг]='18+' OR [возрастной_рейтинг]='16+' OR [возрастной_рейтинг]='12+' OR [возрастной_рейтинг]='6+' OR [возрастной_рейтинг]='0+'))
GO
ALTER TABLE [dbo].[Контент] CHECK CONSTRAINT [CK_Контент_Возрастной_рейтинг]
GO
ALTER TABLE [dbo].[Контент]  WITH CHECK ADD  CONSTRAINT [CK_Контент_Год_выпуска] CHECK  (([год_выпуска]>=(1888) AND [год_выпуска]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[Контент] CHECK CONSTRAINT [CK_Контент_Год_выпуска]
GO
ALTER TABLE [dbo].[Контент]  WITH CHECK ADD  CONSTRAINT [CK_Контент_Дата_поступления] CHECK  (([дата_поступления]<=getdate()))
GO
ALTER TABLE [dbo].[Контент] CHECK CONSTRAINT [CK_Контент_Дата_поступления]
GO
ALTER TABLE [dbo].[Контент]  WITH CHECK ADD  CONSTRAINT [CK_Контент_Длительность] CHECK  (([длительность]>='00:00:00' AND [длительность]<='23:59:59'))
GO
ALTER TABLE [dbo].[Контент] CHECK CONSTRAINT [CK_Контент_Длительность]
GO
ALTER TABLE [dbo].[Контент]  WITH CHECK ADD  CONSTRAINT [CK_Контент_Постер] CHECK  (([постер] IS NULL OR datalength([постер])<=(10485760)))
GO
ALTER TABLE [dbo].[Контент] CHECK CONSTRAINT [CK_Контент_Постер]
GO
ALTER TABLE [dbo].[Контент]  WITH CHECK ADD  CONSTRAINT [CK_Контент_Тип_контента] CHECK  (([тип_контента]='Фильм' OR [тип_контента]='Мультфильм' OR [тип_контента]='Сериал' OR [тип_контента]='Мультсериал' OR [тип_контента]='Короткометражный фильм' OR [тип_контента]='Трейлер'))
GO
ALTER TABLE [dbo].[Контент] CHECK CONSTRAINT [CK_Контент_Тип_контента]
GO
ALTER TABLE [dbo].[Лицензия]  WITH CHECK ADD  CONSTRAINT [CK_Лицензия_Даты] CHECK  (([дата_начала]<=[дата_окончания]))
GO
ALTER TABLE [dbo].[Лицензия] CHECK CONSTRAINT [CK_Лицензия_Даты]
GO
ALTER TABLE [dbo].[Медиа_файл]  WITH CHECK ADD  CONSTRAINT [CK_Медиа_файл_Качество] CHECK  (([качество] IS NULL OR ([качество]='8K' OR [качество]='4K' OR [качество]='Full HD' OR [качество]='HD' OR [качество]='SD')))
GO
ALTER TABLE [dbo].[Медиа_файл] CHECK CONSTRAINT [CK_Медиа_файл_Качество]
GO
ALTER TABLE [dbo].[Медиа_файл]  WITH CHECK ADD  CONSTRAINT [CK_Медиа_файл_Размер] CHECK  (([размер] IS NULL OR [размер]>=(0) AND [размер]<=(2147483648.)))
GO
ALTER TABLE [dbo].[Медиа_файл] CHECK CONSTRAINT [CK_Медиа_файл_Размер]
GO
ALTER TABLE [dbo].[Медиа_файл]  WITH CHECK ADD  CONSTRAINT [CK_Медиа_файл_Тип] CHECK  (([тип_файла]='flv' OR [тип_файла]='wmv' OR [тип_файла]='hevc' OR [тип_файла]='avc' OR [тип_файла]='mov' OR [тип_файла]='mkv' OR [тип_файла]='avi' OR [тип_файла]='mp4'))
GO
ALTER TABLE [dbo].[Медиа_файл] CHECK CONSTRAINT [CK_Медиа_файл_Тип]
GO
ALTER TABLE [dbo].[Правообладатель]  WITH CHECK ADD  CONSTRAINT [CK_Правообладатель_Email] CHECK  (([email] IS NULL OR [email] like '%_@__%.__%' AND len([email])<=(320) AND NOT [email] like '%[^a-zA-Z0-9@._-]%'))
GO
ALTER TABLE [dbo].[Правообладатель] CHECK CONSTRAINT [CK_Правообладатель_Email]
GO
ALTER TABLE [dbo].[Правообладатель]  WITH CHECK ADD  CONSTRAINT [CK_Правообладатель_Страна] CHECK  (([страна_регистрации]='Uzbekistan' OR [страна_регистрации]='Kazakhstan' OR [страна_регистрации]='Belarus' OR [страна_регистрации]='Ukraine' OR [страна_регистрации]='Romania' OR [страна_регистрации]='Bulgaria' OR [страна_регистрации]='Serbia' OR [страна_регистрации]='Croatia' OR [страна_регистрации]='Slovenia' OR [страна_регистрации]='Slovakia' OR [страна_регистрации]='Austria' OR [страна_регистрации]='Hungary' OR [страна_регистрации]='Czech Republic' OR [страна_регистрации]='Greece' OR [страна_регистрации]='Portugal' OR [страна_регистрации]='Ireland' OR [страна_регистрации]='New Zealand' OR [страна_регистрации]='Venezuela' OR [страна_регистрации]='Colombia' OR [страна_регистрации]='Peru' OR [страна_регистрации]='Argentina' OR [страна_регистрации]='Chile' OR [страна_регистрации]='Kenya' OR [страна_регистрации]='Nigeria' OR [страна_регистрации]='South Africa' OR [страна_регистрации]='Egypt' OR [страна_регистрации]='Pakistan' OR [страна_регистрации]='Philippines' OR [страна_регистрации]='Vietnam' OR [страна_регистрации]='Thailand' OR [страна_регистрации]='Malaysia' OR [страна_регистрации]='Singapore' OR [страна_регистрации]='UAE' OR [страна_регистрации]='Saudi Arabia' OR [страна_регистрации]='Israel' OR [страна_регистрации]='Turkey' OR [страна_регистрации]='Poland' OR [страна_регистрации]='Finland' OR [страна_регистрации]='Denmark' OR [страна_регистрации]='Norway' OR [страна_регистрации]='Belgium' OR [страна_регистрации]='Switzerland' OR [страна_регистрации]='Sweden' OR [страна_регистрации]='Netherlands' OR [страна_регистрации]='Mexico' OR [страна_регистрации]='South Korea' OR [страна_регистрации]='Brazil' OR [страна_регистрации]='India' OR [страна_регистрации]='Australia' OR [страна_регистрации]='Spain' OR [страна_регистрации]='Italy' OR [страна_регистрации]='Canada' OR [страна_регистрации]='Japan' OR [страна_регистрации]='China' OR [страна_регистрации]='Germany' OR [страна_регистрации]='France' OR [страна_регистрации]='United Kingdom' OR [страна_регистрации]='Russia' OR [страна_регистрации]='USA'))
GO
ALTER TABLE [dbo].[Правообладатель] CHECK CONSTRAINT [CK_Правообладатель_Страна]
GO
ALTER TABLE [dbo].[Правообладатель]  WITH CHECK ADD  CONSTRAINT [CK_Правообладатель_Телефон] CHECK  (([телефон] IS NULL OR [телефон] like '+%' AND (len([телефон])>=(2) AND len([телефон])<=(16)) AND NOT [телефон] like '%[^0-9+]%'))
GO
ALTER TABLE [dbo].[Правообладатель] CHECK CONSTRAINT [CK_Правообладатель_Телефон]
GO
USE [master]
GO
